<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSD6DQmhqFZU60yYRhGg17b6VBewf6F9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>11863227740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litmaclimited.sidchat</string>
	<key>PROJECT_ID</key>
	<string>sidchat-7555c</string>
	<key>STORAGE_BUCKET</key>
	<string>sidchat-7555c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11863227740:ios:275568d28b9c775f459599</string>
</dict>
</plist>